<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/simple-sidebar.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    
    $(document).ready(function(){
      $("#dataentry").click(function(){
        $.ajax({url: "/states/all", success: function(result){
          $("#container-fluid").html(result);
        }});
      });

      $("#generatereports").click(function(){
        $.ajax({url: "/states/allStates", success: function(result){
          $("#container-fluid").html(result);
        }});
      });
      
      $(".mydropdown-content button.incomplete").click(function(){
        $("#container-fluid").html("Incomplete");
      });
    });
    
    </script>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">MGNREGA </div>
      <div class="list-group list-group-flush">

        <div class="mydropdown list-group-item list-group-item-action">
          <button class="mydropbtn">Gram Panchayat</button>
          <div class="mydropdown-content">
            <button id = "dataentry">Data Entry</button>
            <button id = "generatereports">Generate Reports</button>
            <button class = "incomplete">Send wagelist</button></b>
          </div>
        </div>

        <div class="mydropdown list-group-item list-group-item-action">
          <button class="mydropbtn">Panchayat Samiti</button>
          <div class="mydropdown-content">
            <button class = "incomplete">Link1</button>
            <button class = "incomplete">Link2</button>
            <button class = "incomplete">Link3</button>
          </div>
        </div>

        <div class="mydropdown list-group-item list-group-item-action">
          <button class="mydropbtn">Zila Parishad</button>
          <div class="mydropdown-content">
            <button class = "incomplete">Link1</button>
            <button class = "incomplete">Link2</button>
            <button class = "incomplete">Link3</button>
          </div>
        </div>
    <!--
        <a href="#" class="list-group-item list-group-item-action bg-light">Gram Panchayat</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Panchayat Samiti</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Zila Parishad</a>
    -->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/home/pg">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div id ="container-fluid" class="container-fluid">
        <h2><font color="#660000" face="times new roman"><i><b>Mahatma Gandhi National Rural Employment Guarantee Act</b></i></font></h2><br><br>
        <img src="/static_imgs/unnamed.jpg" alt="mgnrega" style="height:50%;">
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
