<html>
<head>
<style>
    table, th, td {
      border: 1px solid black;
    }
    th, td {
      padding-right: 70px;
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: left;
      border: 1px solid black;
    }
    </style>
    </head>
    <body>
<center>
    <h2><i>Select a state</i></h2>
    <table>
        <tr>
            <td><a href="/login_data_entry/login?id=Arunachal Pradesh" id="Arunachal Pradesh">Arunachal Pradesh</a></td>
            <td><a href="/login_data_entry/login?id=Assam" id="Assam">Assam</a></td>
        </tr>
        <tr>
            <td><a href="/login_data_entry/login?id=Bihar" id="Bihar">Bihar</a></td>
            <td><a href="/login_data_entry/login?id=Chandigarh" id="Chandigarh">Chandigarh</a></td>
        </tr>
        <tr>
            <td><a href="/login_data_entry/login?id=Chhatisgarh" id="Chhatisgarh">Chhatisgarh</a></td>
            <td><a href="/login_data_entry/login?id=Dadar and Nagar Haveli" id="Dadar and Nagar Haveli">Dadar and Nagar Haveli</a></td>
        </tr>
        <tr>
            <td><a href="/login_data_entry/login?id=Daman and Diu" id="Daman and Diu">Daman and Diu</a></td>
            <td><a href="/login_data_entry/login?id=Goa" id="Goa">Goa</a></td>
        </tr>
        <tr>
            <td><a href="/login_data_entry/login?id=Gujarat" id="Gujarat">Gujarat</a></td>
            <td><a href="/login_data_entry/login?id=Haryana" id="Haryana">Haryana</a></td>
        </tr>
        <tr>
            <td><a href="/login_data_entry/login?id=Himachal Pradesh" id="Himachal Pradesh">Himachal Pradesh</a></td>
            <td><a href="/login_data_entry/login?id=Jammu and Kashmir" id="Jammu and Kashmir">Jammu and Kashmir</a></td>
        </tr>
        <tr>
            <td><a href="/login_data_entry/login?id=Jharkhand" id="Jharkhand">Jharkhand</a></td>
            <td><a href="/login_data_entry/login?id=Karnataka" id="Karnataka">Karnataka</a></td>
            </tr>
        <tr>
            <td><a href="/login_data_entry/login?id=Kerala" id="Kerala">Kerala</a></td>
            <td><a href="/login_data_entry/login?id=Lakshadweep" id="Lakshadweep">Lakshadweep</a></td>
        </tr>
        <tr>
            <td><a href="/login_data_entry/login?id=Madhya Pradesh" id="Madhya Pradesh">Madhya Pradesh</a></td>
            <td><a href="/login_data_entry/login?id=Maharashtra" id="Maharashtra">Maharashtra</a></td>
        </tr>
        <tr>
            <td><a href="/login_data_entry/login?id=Manipur" id="Manipur">Manipur</a></td>
            <td><a href="/login_data_entry/login?id=Meghalaya" id="Meghalaya">Meghalaya</a></td>
        </tr>
        <tr>
            <td><a href="/login_data_entry/login?id=Mizoram" id="Mizoram">Mizoram</a></td>
            <td><a href="/login_data_entry/login?id=Nagaland" id="Nagaland">Nagaland</a></td>
        </tr>
        <tr>
             <td><a href="/login_data_entry/login?id=Odisha" id="Odisha">Odisha</a></td>
             <td><a href="/login_data_entry/login?id=Pondicherry" id="Pondicherry">Pondicherry</a></td>
        </tr>
         <tr>
            <td><a href="/login_data_entry/login?id=Punjab" id="Punjab">Punjab</a></td>
            <td><a href="/login_data_entry/login?id=Rajasthan" id="Rajasthan">Rajasthan</a></td>
         </tr>
         <tr>
            <td><a href="/login_data_entry/login?id=Sikkim" id="Sikkim">Sikkim</a></td>
            <td><a href="/login/login?id=Tamilnadu" id="Tamilnadu">Tamilnadu</a></td>
         </tr>
         <tr>
             <td><a href="/login_data_entry/login?id=Tripura" id="Tripura">Tripura</a></td>
             <td><a href="/login_data_entry/login?id=Uttar Pradesh" id="Uttar Pradesh">Uttar Pradesh</a></td>
         </tr>
         <tr>
             <td><a href="/login_data_entry/login?id=Uttarakhand" id="Uttarakhand">Uttarakhand</a></td>
             <td><a href="/login_data_entry/login?id=West Bengal" id="West Bengal">West Bengal</a></td>
         </tr>
         <tr>
            <td><a href="/login_data_entry/login?id=Andaman and Nicobar" id="Andaman and Nicobar">Andaman and Nicobar</a></td>
        </tr>
    </table>
</center>
</body>
</html>